@media screen and (max-width: 700px) {
    #carouselContainer img {
        height: 80vh;
        width: 80%;
        object-fit: contain;   
    } 
}

#carouselContainer img {
    height: 80vh;
    object-fit: contain;   
}