.contact-icon {
    position:absolute;
    transform: translateX(-2rem)
}

.email-icon {
    height: 1.5rem;
    width: 2rem;
    color: white;
    display: inline-block
}

#linkedin-link::before {
    position: absolute;
   content: url(/src/images/about-me/linkedin-logo.png);
    transform: scale(1.25) translate(-1.5rem, .15rem )
}