.under-construction{
    background-color: rgba(255, 193, 7, 0.35);
    color: white;
}

.under-construction-text-color {
    color: $bg-underconstruction-text-color
}

.construction-ul-opacity {
    background-color: $bg-main-color-half-opacity;
}