
    $bg-main-color: rgb(50, 131, 210);
    $bg-main-color-zero-opacity: rgba(50, 131, 210, 0);
    $bg-main-color-quarter-opacity: rgba(50, 131, 210, .25);
    $bg-main-color-half-opacity: rgba(50, 131, 210, .50);
    $black-opacity: rgba(0,0,0,.75);
    $bg-underconstruction-text-color: yellow;
    $bg-success: rgb(25, 135, 84);
    $bg-success-opacity: rgba(25, 135, 84, .5);
    $bg-danger-opacity: rgba(220, 53, 69, .5)
