body {
    background-image: url('./images/backgrounds/port-bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#bg {
    background-color: rgba(0,0,0, .75);
    padding-top: 1rem;
}