@import '~bootstrap/scss/bootstrap';
@import './styles/colors/colors';
@import './styles/body/body';
@import './styles/home/home';
@import './styles/about-me/aboutMe.scss';
@import './styles/navbar/navbar.scss';
@import './styles/hobbies/webdevHobbies.scss';
@import './styles/certificates/certificates.scss';
@import './styles/under-construction/underConstruction.scss';

h4, [class~='display-5']{
    color: white;
}

/* cards */

.card {
    margin:auto;
}

.card-opacity{
    background-color: $bg-main-color-quarter-opacity;
    color: white
}

.card-ul-opacity li{
    background-color: $bg-main-color-zero-opacity;
    color: white 
}

.card-footer-opacity{
    background-color: $bg-main-color;
    color: white
}